<%- include('../partials/_head.ejs') %>
  <div class="et-main container">
    <section class="et-content">
      <h2 class="et-page-title">Accounts
        <button class="btn-add" data-bs-toggle="modal" data-bs-target="#add-modal">
          <i class="fa fa-plus"></i>
          Add New</button>
      </h2>

      <section id="accounts">
        <div class="is-loading">
          Loading Accounts...
        </div>
      </section>
    </section>


    <div class="modal fade" tabindex="-1" id="add-modal">
      <div class="modal-dialog">
        <form class="modal-content" method="post" action="/accounts" id="accounts-form" name="accounts-form">
          <div class="modal-header">
            <h5 class="accounts-form-title modal-title">Add New Account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-validation"></div>

            <fieldset>
              <label class="form-label" for="account_desc">Description</label>
              <input type="text" name="account_desc" class="txt-account_desc form-control">
            </fieldset>
            <input type="hidden" class="hidden-id" name="_id" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn-accounts_submit btn btn-primary" type="submit">Add New Account</button>
          </div>

        </form>
      </div>
    </div>


  </div>
  <script src="/js/utils.js" defer></script>
  <script src="/js/tracker-accounts.js" defer></script>
  <%- include('../partials/_foot.ejs'); %>