<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/main.css">
  <title>
    <%= title %> | ExpenseTracker - A Smarter Way to Track Your Expenses
  </title>
</head>

<body class="<%= className %>">
  <header class="et-header">

    <h1 class="text-center"><img src="/img/et-logo-dk-stacked.svg" alt="ExpenseTracker Logo" class="et-logo"></h1>
    <% if (user) { %>
      <a href="#menu" class="et-menu-toggle">
        <span class="fa fa-bars"></span>
      </a>
      <nav class="et-nav hide" id="menu">
        <a href="/tracker"><i class="fa fa-home"></i> My Expenses</a>
        <a href="/tracker/accounts"><i class="fa fa-credit-card"></i> Accounts</a>
        <a href="/tracker/reports"><i class="fa fa-calendar-alt"></i> Reports</a>
        <a href="/tracker/profile"><i class="fa fa-cog"></i> Settings</a>
        <a href="/logout"><i class="fa fa-power-off"></i> Log Out</a>

      </nav>
      <% } %>
  </header>