<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./_head-common.ejs') %>
    <link rel="stylesheet" href="/css/print.css" media="print">
    <title>
      <%= title %> | ExpenseTracker - A Smarter Way to Track Your Expenses
    </title>
</head>

<body class="<%= className %>">
  <div id="content">
    <header class="et-header">

      <h1 class="text-center"><img src="/img/et-logo-dk-stacked.svg" alt="ExpenseTracker Logo" class="et-logo"></h1>
      <% if (user) { %>
        <a href="#menu" class="et-menu-toggle" aria-label="Open navigation menu">
          <span class="fa fa-bars"></span>
        </a>
        <nav class="et-nav hide" id="menu" role="navigation">
          <a href="/tracker"><i class="fa fa-home"></i> My Expenses</a>
          <a href="/tracker/accounts"><i class="fa fa-credit-card"></i> Accounts</a>
          <a href="/tracker/reports"><i class="fa fa-calendar-alt"></i> Reports</a>
          <a href="/tracker/profile"><i class="fa fa-cog"></i> Settings</a>
          <a href="/logout"><i class="fa fa-power-off"></i> Log Out</a>

        </nav>
        <% } %>
    </header>