@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab&display=swap');

.hide {
  position: absolute;
  left: -9999px !important;
}

:root {
  --color-secondary: rgb(36, 84, 94);
  --color-primary: rgb(32, 204, 148);
  --color-light: #f8f9fa;
  --font-accent: 'Roboto Slab', serif;
  --font-primary: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  color: var(--color-secondary);
  font-family: var(--font-primary), sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

a {
  color: var(--color-primary);
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.bg-primary,
.btn-primary {
  background: var(--color-primary) !important;
}

.btn-primary {
  border: 1px solid var(--color-primary);
  font-family: var(--font-primary);
}

.bg-secondary {
  background: var(--color-secondary) !important;
  color: #fff !important;
}

.et-header {
  background-image: radial-gradient(
    ellipse at center,
    #26efa7 0%,
    #20cc94 100%
  );
  text-align: center;
  padding: 1.7rem 0 0.75rem;
  position: relative;
  border-bottom: 3px solid var(--color-secondary);
}

img.et-logo {
  width: 90%;
  max-width: 350px;
}

.et-menu-toggle {
  color: rgba(36, 84, 94, 0.5);
  padding: 0.25rem 0.65rem;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 1.75rem;
  z-index: 9;
  transition: all 0.2s;
  cursor: pointer;
}

.et-menu-toggle:hover {
  color: var(--color-secondary);
}

.et-menu-toggle.open {
  color: #fff;
}

.et-nav {
  background: var(--color-secondary);
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 0px 0px 5px rgba(36, 84, 94, 0.3);
  padding: 0.5rem 0;
}

.et-nav .fa {
  margin-right: 0.5rem;
}

.et-nav a {
  color: #fff;
  padding: 0.6rem;
  text-decoration: none;
  font-family: var(--font-accent);
  font-size: 1.1rem;
  transition: all 0.2s;
}

.et-nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.et-nav .container {
  flex-direction: column;
}

.et-nav .nav-link {
  color: #fff;
}

.et-main {
  padding: 2rem 1rem;
  background: #fff;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); */
  min-height: 40vh;
  width: 100%;
}

.et-content {
  position: relative;
}

.no-expenses {
  font-style: italic;
}

.et-filters {
  background: var(--color-light);
  border: 1px solid rgba(36, 84, 94, 0.1);
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.et-filters #sel-choose-month {
  color: var(--color-secondary);
  border: 1px solid rgba(36, 84, 94, 0.2);
}

.et-filters #search {
  margin-bottom: 0.5rem;
  text-align: center;
  border: 1px solid rgba(36, 84, 94, 0.15);
  max-width: 350px;
}

.et-filters #search::placeholder {
  color: rgba(36, 84, 94, 0.5);
}

.filter-month {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-month label {
  text-align: right;
  font-family: var(--font-accent);
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.filter-month select {
  border: 1px solid #24545e;
  max-width: 200px;
  flex: 1;
}

.et-page-title {
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid rgba(36, 84, 94, 0.1);
  padding-top: 2rem;
}

.btn-add,
.btn-update-profile {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 0.25rem 0.5rem;
  margin-left: 0.25rem;
  font-family: var(--font-accent);
  background: #fff;
  border-radius: 0.5rem;
  transform: translateY(-3px);
  font-size: 1rem;
  transition: all 0.2s;
}

.btn-print {
  padding: 0.25rem 1rem;
  display: block;
  margin: 0.5rem auto;
}

.btn-print .fas {
  padding-right: 0.25rem;
}

.btn-add:hover,
.btn-update-profile:hover,
.btn-print:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.col-act,
.col-cat {
  display: none;
}

.et-table thead tr {
  display: none;
}

.et-table thead th {
  color: var(--color-secondary);
  border-bottom: 2px solid rgba(36, 84, 94, 0.2) !important;
}

.et-table tbody td {
  padding: 0.7rem 0.6rem;
  color: var(--color-secondary);
}

.et-table .col-amt {
  text-align: right;
  background: var(--color-light);
}

.et-table .col-btn {
  text-align: center;
  width: 23%;
}

.et-table .col-date {
  width: 13%;
}

.et-table .col-desc {
  width: 41%;
}

.et-table .col-amt {
  width: 23%;
}

.btn-expense-edit,
.btn-expense-del,
.btn-account-edit,
.btn-account-del {
  color: rgba(36, 84, 94, 0.25);
  cursor: pointer;
  padding: 0.2rem 0.1rem;
  transition: all 0.2s;
  font-size: 1.2rem;
}

.btn-expense-edit:hover,
.btn-account-edit:hover {
  color: var(--color-primary);
}

.btn-expense-del:hover,
.btn-account-del:hover {
  color: #f06292;
}

.modal-title {
  font-family: var(--font-accent);
}

.modal-body {
  padding-top: 0;
}

.modal-body .form-label {
  margin: 0.5rem 0rem 0.25rem;
  padding: 0;
  font-family: var(--font-accent);
}

.et-footer {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-accent);
  text-align: center;
  padding: 1.5rem;
  border-top: 2px solid var(--color-secondary);
}

.et-footer a {
  color: var(--color-secondary);
  text-decoration: none;
  border-bottom: 1px solid rgba(36, 84, 94, 0.2);
}

/* Accounts-Page Specific */
.et-accounts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.et-accounts-item {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(36, 84, 94, 0.15);
  display: flex;
  justify-content: space-between;
}

/* Reports Page */
.report-container {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.no-reports {
  font-style: italic;
  text-align: center;
  padding: 2rem;
  color: rgba(36, 84, 94, 0.5);
  border: 3px dashed rgba(36, 84, 94, 0.1);
  border-radius: 1rem;
}

.no-reports .fa {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
  color: rgba(36, 84, 94, 0.2);
}

.page-reports .table {
  max-width: 400px;
  margin-bottom: 2rem;
  border: 1px solid rgba(36, 84, 94, 0.1);
}

.et-reports-table td {
  color: var(--color-secondary);
  text-align: center;
}

td.col_name {
  width: 45%;
  text-align: left;
}

.et-reports-table .col_amt {
  width: 20%;
  background: var(--color-light);
}
.et-reports-table tr {
  background: var(--color-light);
}
.et-reports-table tr:nth-child(odd) td {
  background: #fdfdfd;
}

.col_per {
  width: 35%;
  position: relative;
}

.et-report-percentage {
  position: relative;
  z-index: 2;
  padding: 0 0.5rem;
}

.et-report-percentage-bar {
  position: absolute;
  background-image: linear-gradient(to left, #26efa7, rgba(32, 204, 148, 0.7));
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  max-width: 95%;
  top: 20%;
  left: 0;
  bottom: 20%;
  z-index: 1;
}

.et-section-header {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
}

.btn-print {
  margin-top: 1rem;
}

.page-reports hr {
  border-top: 2px solid rgba(36, 84, 94, 0.4);
  background-color: transparent;
  height: 0px;
  display: block;
}

.report-section {
  display: flex;
  justify-content: space-between;
}

.table-section {
  width: 50%;
}

.report-section canvas {
  width: 30%;
  max-width: 250px;
  max-height: 250px;
}

/* Profile Styles */
.profile-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-container fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.profile-container label {
  width: 45%;
}

.profile-container input,
.profile-container select {
  width: 55%;
}

.btn-update-profile {
  padding: 0.5rem 0.7rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  width: 85%;
  align-self: center;
}

/* Login */
.page-home,
.page-register {
  background: var(--color-secondary);
  min-height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}

.page-home .et-logo,
.page-register .et-logo {
  max-width: 450px;
  width: 95%;
}

.page-home header,
.page-home footer,
.page-register header,
.page-register footer {
  border: 0;
  background: none;
}

.page-home footer,
.page-register footer {
  padding-top: 1rem;
  font-size: 1.1rem;
}

.et-home-container {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.page-home .et-header {
  margin: 0;
  padding: 0;
}

.page-home .et-logo {
  background: url('/img/et-logo-reverse-stacked.svg') no-repeat top center;
  background-size: contain;
  text-indent: -999em;
  width: 100%;
  height: 130px;
}

.et-intro {
  display: none;
}
.et-login {
  margin: 1rem auto;
  max-width: 425px;
  background-image: radial-gradient(
    ellipse at center,
    rgb(33, 250, 174) 0%,
    #20cc94 100%
  );
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  text-shadow: 0px 0px 5px rgba(92, 238, 187, 0.8);
  font-size: 1.1rem;
}

.et-login .form-label {
  font-family: var(--font-accent);
  font-size: 1.2rem;
}

.et-login input {
  background: rgba(92, 238, 187, 0.5);
  border: 1px solid rgba(36, 84, 94, 0.4);
  font-size: 1.1rem;
  color: var(--color-secondary);
  transition: all 0.2s;
}

.et-login input:focus-visible,
.et-login input:hover {
  background: rgba(255, 255, 255, 0.7);
}

.et-login input:focus {
  box-shadow: 0 0 0 0.25rem rgba(92, 238, 187, 0.5);
  border-color: rgba(36, 84, 94, 0.4);
}

.et-login button .fas {
  padding-right: 0.25rem;
}

.et-btn-login,
.et-btn-register {
  font-family: var(--font-accent);
  background: var(--color-secondary);
  color: #fff;
  border: 0;
  font-size: 1.1rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.et-btn-login:hover,
.et-btn-register:hover {
  background: #0f6a7c;
}

/* Register */
.page-register .card-title {
  margin-bottom: 0.75rem;
}
.et-register fieldset {
  margin: 0;
  align-items: flex-start;
  flex-direction: column;
}

.et-register .form-label {
  margin: 0.5rem 0 0.25rem;
}

.et-register .et-btns-fieldset {
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.alert {
  margin-top: 1rem;
}

@media screen and (min-width: 400px) {
  .page-reports .et-page-title {
    padding-bottom: 1rem;
  }
  #month-switcher {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 576px) {
  :root {
  }

  .et-main {
    width: 93%;
    margin: 1rem auto;
    padding: 1rem;
  }

  .et-filters {
    flex-direction: row;
  }

  .et-filters #search {
    width: 50%;
    margin: 0;
  }
  .et-filters .filter-month {
    width: 50%;
    justify-content: flex-end;
    margin: 0;
  }

  .filter-month .form-label {
    text-align: right;
    width: auto;
    margin: 0 0.5rem 0 1rem;
  }
  .filter-month #sel-choose-month {
    flex: 1;
  }
  .col-cat,
  .col-act {
    display: table-cell;
  }

  th.col-amt {
    text-align: center;
  }

  .et-table td[class*='col-'],
  .et-table th[class*='col-'] {
    width: auto;
  }

  .et-table td.col-desc {
    min-width: 35%;
  }

  .et-table thead tr {
    display: table-row;
  }

  .et-main {
    max-width: 750px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  body {
    background: var(--color-light);
  }
  .et-main {
    width: 90%;
    max-width: 980px;
    margin: 1.5rem auto;
    background: #fff;
    box-shadow: 0px 0px 7px rgba(36, 84, 94, 0.3);
    padding: 0;
    border-radius: 0.5rem;
  }

  .et-content {
    padding: 0 2rem 1rem;
  }

  .et-filters {
    border-radius: 0.5rem;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--color-light);
    border-bottom: 1px solid rgba(36, 84, 94, 0.1);
  }

  .filter-month .form-label {
    max-width: 150px;
  }

  .filter-month {
    max-width: 350px;
  }

  .et-menu-toggle {
    display: none;
  }

  .et-header {
    padding-bottom: 0;
  }

  .et-nav {
    position: relative;
    left: 0 !important;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
  }

  .et-nav a {
    font-size: 1rem;
    padding: 0.65rem 1rem;
  }

  .et-nav a .fa {
    margin-right: 0.25rem;
  }

  /* Reports */

  #month-switcher {
    top: 1.5rem;
    right: 2rem;
  }

  .page-reports .et-reports-table {
    max-width: 600px;
  }

  /* Profile */
  .profile-container {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
}
