<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/main.css">
  <title>
    ExpenseTracker - A Smarter Way to Track Your Expenses
  </title>
</head>

<body class="<%= className %>">
  <div id="content">
    <header class="et-header home">
      <h1 class="et-logo"><img src="/img/et-logo-reverse.svg" alt="ExpenseTracker logo"></h1>
    </header>

    <main class="et-home-container">
      <section class="et-login">
        <h2 class="et-login-title">Sign In</h2>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <form method="post" action="/login" class="et-form-login">
                  <label class="form-label">Email</label>
                  <input type="email" name="email" class="form-control">
                  <label class="form-label">Password</label>
                  <input type="password" name="password" class="form-control">
                  <fieldset class="form-btns">
                    <a href="/register" class="btn-link">Create Account</a>
                    <button class="et-btn-login"><i class="fas fa-sign-in-alt"></i> Sign In</button>
                  </fieldset>
                </form>
      </section>
      <aside class="et-intro">
        <img src="/img/et-illustration.svg" alt="Illustration of woman and a wallet with bills and pennies flying out">
        <h1>Focused Money Management</h1>
        <p><strong>Our wallets could all use fewer pennies flying out,</strong> right? ExpenseTracker simplifies
          budgeting by focusing only on expenses.</p>
      </aside>
    </main>

    <footer class="et-footer home">
      <p class="copy">
        <a href="https://github.com/Ttesori">Expense Tracker Development</a> by
        <a href="https://tonitesori.dev">Toni</a>
        <br />
        <cite><a href="https://storyset.com/finance">Finance illustration by Storyset</a></cite>
      </p>
    </footer>
  </div>
</body>

</html>