<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head-common.ejs') %>
    <title>
      ExpenseTracker - A Smarter Way to Track Your Expenses
    </title>
</head>

<body class="<%= className %>">
  <div id="content">
    <header class="et-header home">
      <h1 class="et-logo"><img src="/img/et-logo-reverse.svg" alt="ExpenseTracker logo"></h1>
    </header>

    <main class="et-home-container">
      <section class="et-login">
        <h2 class="et-login-title">Sign In</h2>
        <% if (locals.messages.errors) { %>
          <div class="alert alert-danger">
            <% messages.errors.forEach( el=> { %>
              <%= el.msg %>
                <% }) %>
          </div>
          <% } %>
            <form method="post" action="/login" class="et-form-login">
              <label class="form-label" for="email">Email Address</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="you@somewhere.com">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control"
                placeholder="Enter your password">
              <fieldset class="form-btns">
                <a href="/register" class="btn-link">Create Account</a>
                <button class="et-btn-login"><i class="fas fa-sign-in-alt"></i> Sign In</button>
              </fieldset>
            </form>
      </section>
      <aside class="et-intro">
        <img src="/img/et-illustration.svg" alt="Illustration of woman and a wallet with bills and pennies flying out">
        <h2>Focused Money Management</h2>
        <p><strong>Keep more money in your wallet!</strong> ExpenseTracker simplifies
          budgeting by focusing solely on expenses.</p>
      </aside>
    </main>

    <footer class="et-footer home">
      <p class="copy">
        <a href="https://github.com/Ttesori">Expense Tracker Development</a> by
        <a href="https://tonitesori.dev">Toni</a>
        <br />
        <a href="#" class="link-demo"><i class="fas fa-key"></i> Demo Login</a>
        <span class="bullet">&bull;</span>
        <cite><a href="https://storyset.com/finance">Finance illustration by Storyset</a></cite>
      </p>
    </footer>
  </div>
  <script>
    const linkDemoEl = document.querySelector('.link-demo');
    const emailEl = document.getElementById('email');
    const passwordEl = document.getElementById('password');

    linkDemoEl.addEventListener('click', (e) => {
      e.preventDefault();
      emailEl.value = 'demo@testing.com';
      passwordEl.value = 'testingtesting';
    })
  </script>
</body>

</html>