<%- include('../partials/_head.ejs') %>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sign In</h5>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <form method="post" action="/login">
                  <label class="form-label">Email</label>
                  <input type="email" name="email" class="form-control">
                  <label class="form-label">Password</label>
                  <input type="password" name="password" class="form-control">
                  <button class="btn btn-light">Sign In</button>
                  <a href="/register">Create Account</a>
                </form>
      </div>
    </div>
  </div>

  <%- include('../partials/_foot.ejs'); %>