<%- include('../partials/_head.ejs') %>

  <div class="container">

    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el=> { %>
        <div class="alert alert-danger">
          <%= el.msg %>
        </div>
        <% }) %>
          <% } %>
            <div class="card et-login et-register">
              <div class="card-body">
                <h1 class="et-page-title">Register</h1>
                <form method="post" action="/register">
                  <fieldset>
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control">
                  </fieldset>
                  <fieldset>
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control">
                  </fieldset>
                  <fieldset>
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control">
                  </fieldset>
                  <fieldset class="et-btns-fieldset">
                    <a href="/">Sign In</a>
                    <button class="et-btn-register">Register</button>
                  </fieldset>


                </form>
              </div>
            </div>

  </div>

  <%- include('../partials/_foot.ejs') %>