<%- include('../partials/_head.ejs') %>

  <div class="container">
    <h1>Register</h1>
    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el=> { %>
        <div class="alert alert-danger">
          <%= el.msg %>
        </div>
        <% }) %>
          <% } %>
            <div class="card">
              <div class="card-body">
                <form method="post" action="/register">
                  <fieldset>
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control">
                  </fieldset>
                  <fieldset>
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control">
                  </fieldset>
                  <fieldset>
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control">
                  </fieldset>
                  <button class="btn btn-light">Register</button>
                  <a href="/">Sign In</a>
                </form>
              </div>
            </div>

  </div>

  <%- include('../partials/_foot.ejs') %>